:root{
    --beige: rgb(228,213,201);
    --blanco: rgb(255,252,249);

	--fuente-cursiva: 'Niconne', sans;
	--fuente-normal: 'EB Garamond', sans;
	--fuente-ancha: 'Fredericka the great', cursive;

}

*{
	font-family: var(--fuente-normal);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--blanco);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h3,h4,h5,ol,ul{
	letter-spacing: 1px;
}

#social-media-top i{
	color: var(--blanco);
	padding: 0 20px;
}

#social-media-top i:hover{
	color: var(--blanco);
	text-shadow: 1px 1px 6px white;
}
.mi-nav{
	background-image: url(../img/bg3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.navbar{
	background-color: rgba(0, 0, 0, 0.1) !important;
    padding: 0 !important;
}

.navbar .navbar-brand{
	padding:0 !important;
}

.navbar .navbar-nav{
	margin: 0 auto;
}

.navbar .nav-item a{
	font-family: var(--fuente-normal)!important;
	font-size: 1.4em; 
	padding: 50px 30px  !important;
	color: var(--blanco) !important;
}

.navbar .nav-item a:hover{
	color: var(--blanco);
	text-shadow: 1px 1px 6px white;
}

.brand{
    padding: 20px 30px;
    width:fit-content;
    background-color: var(--beige);
	margin-top: 60px;
	color: black;
    border: 2px solid black;
    box-shadow:  0 0 15px 15px rgba(0, 0, 0, 0.2);
}
.brand h1{
	font-size: 6em;
	text-align: center;
	font-family: var(--fuente-normal);
	padding: 10px 0px;
}
.brand p{
	font-size: 2.5em;
	font-family: var(--fuente-cursiva);
	text-align: center;
}
#boton-hero{
	margin-top: 270px;
}
#boton-hero button{
	padding: 10px;
	transition: 0.3s all;
}

#boton-hero button:hover{
	transform: translateY(15px);
}
#branding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#frase{
    text-align: center;
    font-family: var(--fuente-normal);
    font-size: 3.2em;
    color: black;

}
.espaciador{
	height:10vh;
	background-color:var(--blanco);
}

#cards{
	background-color: var(--blanco);
	padding: 30px 0;
}

.card{
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: multiply;
	display: flex;
	align-items: center;
	justify-content:flex-end;
	margin: 20px 10px;
	max-width: 600px;
	height: 400px;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
	transition: 0.5s ease background-color;  
}

.card:hover{
	background-color: rgba(0, 0, 0, 0.3);
}

.card1{
	background-image: url(../img/viedma.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card2{
	background-image: url(../img/shop.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card3{
	background-image: url(../img/contact.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card4{
	background-image: url../img/.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card5{
	background-image: url(../img/receta.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-card{
	color: var(--blanco);
	text-shadow: 1px 1px 7px black;
	font-family: var(--fuente-normal);
	font-size: 1.8em;
	margin-bottom: 20px;
}

.btn-card:hover{
	color: var(--blanco);
	text-shadow: 1px 1px 6px white;
	background-color: rgba(0, 0, 0, 0.3);
	outline:1px solid black

}

.titular{
	margin: 50px 0;
	text-align: center;
}

.titular h4{
	font-size: 2.9em;
	font-family: var(--fuente-ancha);
}
.titular h3{
	font-size: 1.8em;
	font-family: var(--fuente-cursiva);
}

#productos-destacados{
	background-color: var(--blanco);
	padding: 30px 0;
}

.card-body{
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}

.card-title{
	font-family: var(--fuente-normal);
	font-size: 2.5em;
	color: black;
}

.card-body{
	width:100%;
	height: fit-content;
	background-image: url(../img/);
}
.card-body .link{
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
}

.card-body a:hover{
	text-decoration: none;
	color:white;
}

.container.cont{
	margin:0 auto!important;
}

.wrapper{
	letter-spacing: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../img/b1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 15vh;
}

#destacados img{
	width: auto;
	max-height: 250px;
}
#destacados .dest-fondo{
	margin:0;
	padding: 0;
	background-color: var(--beige);
}
#destacados span{
	letter-spacing: 1px;
	font-family: var(--fuente-cursiva);
}

#destacados p{
	font-size: 1.5em;
	font-family: var(--fuente-normal);
}

#sobre-mi img{
	border-radius: 50%;
}

#col-bio{
	background-color: var(--beige);
}
#col-bio h1{
	font-size: 2.9em;
	font-family: var(--fuente-cursiva);
}

#col-bio p{
	font-size: 2.2em;
	font-family: var(--fuente-normal);
}

#julieta{
	font-size: 6.8em;
	font-family: var(--fuente-cursiva);
	transform: translateY(-65px);
}
